*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #52cc8b;
  box-shadow: 0 0 5px #444;
  display: flex;
  flex-direction: column;
}

.header__h1 {
  text-align: center;
  padding: 10px;
}

.header__progressBar {
  height: 3px;
  border: 0;
  background-color: #52cc8b;
}

.header__progressBar::-webkit-progress-bar {
  background-color: #52cc8b;
}

.header__progressBar::-moz-progress-bar {
  background-color: #d97373;
}

.header__progressBar::-webkit-progress-value {
  background-color: #d97373;
}

.main {
  margin: 10px 15%;
  flex: 1 1 auto;
  align-items: center;
}

.main-loader {
  display: flex;
}

.main__loader {
  margin: auto;
  border: 20px solid #eaf0f6;
  border-radius: 50%;
  border-top: 20px solid #52cc8b;
  width: 200px;
  height: 200px;
  animation: spinner 3s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.details {
  margin: 7px 0;
  border-radius: 5px;
  box-shadow: 0 0 2px #444;
}

.details:hover {
  box-shadow: 0 0 5px #333;
}

.details__summary {
  cursor: pointer;
  padding: 10px 20px;
}

.summary {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.summary__school {
  margin-right: 20px;
  flex: 0 0 50%;
}

.details__error {
  margin: 7px 0;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 2px #444;
  background-color: #d97373;
}

.summary-bad {
  background-color: #d97373;
}

.summary-good {
  background-color: #52cc8b;
}

.summary__info {
  display: flex;
}

.summary__span {
  margin-right: 10px;
}

.table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.table__column {
  border: 1px solid #000;
  padding: 10px;
}

.footer {
  padding: 15px;
  background-color: #52cc8b;
  text-align: center;
  box-shadow: 0 0 5px #444;
}

@media (max-width: 1533px) {
  .summary__info {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .main {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 768px) {
  .header__h1 {
    font-size: 1.3em;
  }

  .main {
    margin: 10px 5%;
  }

  .summary {
    flex-direction: column;
  }

  .summary__school {
    margin: 0;
    flex: none;
  }

  .summary__span {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .summary__school {
    text-align: center;
  }

  .table thead {
    display: none;
  }
  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
  }
}

@media (max-width: 320px) {
  .main {
    margin-left: 0;
    margin-right: 0;
  }
}
